@model crudappwithwebapi.Models.staff

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>staff</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.St_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.St_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.St_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.St_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.St_Desination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.St_Desination)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.St_salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.St_salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.St_Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.St_Adress)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
