@model Test.Models.Registration

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


<form action="" method="post">
    <label > ID</label>
    <input class="form-control" type="text" name="" value="@Model.Id" /> <br />
    <label > Name</label>
    <input class="form-control" type="text" name="name" value="@Model.Name" /> <br />
    <label> Email</label>
    <input class="form-control" type="text" name="Email" value="@Model.Email" /> <br />
    <label> age</label>
    <input class="form-control" type="number" name="age" value="@Model.age" /> <br />
    <label> Contact</label>
    <input class="form-control" type="number" name="Contact" value="@Model.Contact" /> <br />

    <input type="submit" value="Add" class="btn btn-info"/>
</form>