@model IEnumerable<crudappwithwebapi.Models.staff>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.St_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.St_Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.St_Desination)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.St_salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.St_Adress)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.St_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.St_Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.St_Desination)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.St_salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.St_Adress)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
